/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--color-primary: #0d4663;
	--color-secondary: #135492;
	--color-accent: #ff9a88;

	--color-black: #111;
	--color-white: #f5f5f5;

	--font-sans: "Inter";

	--nav-height: 64px;
}

body {
	font-family: var(--font-sans), serif;
	background-color: var(--color-black);
	
}

.container {
	background-color: var(--color-accent);
	width: 100%;
	min-height: 100dvh;
	outline: solid var(--color-black) 2px;

	display: flex;
	flex-direction: row;     /*ใช้สลับแกน ซึ่งปกติ default เป็น Row จะเขียนหรือไม่เขียนก็ได้ มีคำสั่ง row-revers*/
	gap: 1rem; 			  /*ระยะห่างระหว่าง item ทั้ง col and row*/
	/* column-gap: ;  จะใช้แบบนี้ก็ได้*/    
	justify-content: center;
	align-items: center;
	/* align-content: center; */
	/* flex-wrap: wrap;  ส่วนใหญ่จะใช้ flex-direction: row */

	
	/* height: 90vh; */
}

.box {
	width: 200px;
	aspect-ratio: 1;
	font-size: 2rem;
	background-color: var(--color-primary);
	color: var(--color-white);
	border: solid var(--color-white) 5px;
    /*ต่อไปนี้จะเป็นคำสั่งในส่วนของลูก  */
	flex-shrink: 1; /*ย่อขนาดตัวเองได้เมื่อพื้นที่ไม่พอ 1ลดได้ 0ลดไม่ได้*/
	flex-grow: 0; /*ยืดขยายตัวเองได้ในพื้นที่เหลือ 1ขยายได้ 0ขยายไม่ได้*/
	flex-basis: 300px;

	flex:1; /*กำหนดทุก box*/

	display: flex;       /*เป็นการกำหนดตัวเลขให้อยู่ตรงกลาง ที่เราสร้างcode ใน .box นี้เพราะเป็น prarent ของ span*/
	justify-content: center;
	align-items: center;
}

.box3, .box5 {     /*ยืดขยายตัวเองได้มากกว่ากล่องอื่นๆ */
	flex:3; /*กำหนดเฉพาะ box*/
}
