/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
	--color-primary: #0d4663;
	--color-secondary: #135492;
	--color-accent: #ff9a88;

	--color-black: #111;
	--color-white: #f5f5f5;

	--font-sans: "Inter";
	--font-noto: "Noto Sans Thai", "Noto Sans", sans-serif;

	--nav-height: 64px;
}

body {
	font-family: var(--font-sans), serif;
	background-color: var(--color-primary);
}

.container {
	height: 100dvh;
	/*เพื่อให้Elementที่เป็นภาชนะ(Container)มีพื้นที่สำหรับ"ยืด"และ"หด"ในแนวตั้งได้*/display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	border-radius: 12px;
	gap: 10rem;
	/* border:red solid 5px; */
}

.box {
	background-color: var(--color-white);
	width: 300px;
	height: 500px;

	display: flex;
	flex-direction: column;  /* *** สำคัญ: เพิ่มบรรทัดนี้เพื่อจัดเรียงรายการในแนวตั้ง *** */
	justify-content: center;
	align-items: center;
	align-content: center;
	border-radius: 12px;
	/* border: gold solid 5px; */
	box-shadow: 0px 4px 14px bisque;    /*[offset-x] [offset-y] [blur-radius] [spread-radius] [color];*/
}

.box .img {
	height: 300px;
	width: 200px;
	/* border:black solid 5px; */

	display:flex;
	justify-content: center;
	align-items: center;
}

.title {
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 10px;
}

.button {
	background-color: var(--color-primary);
	border: none;
	border-radius: 8px;
	padding: 10px 20px;
	color: var(--color-white);
	font-weight: bold;
	cursor: pointer;
	margin-right: 10px;
	transition: var(--color-primary) 1s ;
	-webkit-transition: var(--color-primary) 1s ;
	-moz-transition: var(--color-primary) 1s ;
	-ms-transition: var(--color-primary) 1s ;
	-o-transition: var(--color-primary) 1s ;
}

.button:hover {     /*เมื่อเอาเมาส์ไปชี้ที่ปุ่มให้สีเปลี่ยนไป*/
	background-color: var(--color-accent);
	color: var(--color-secondary);
}

.detail,.price,.button {
	font-size: 12px;
	margin-bottom: 10px;
	font-family:var(--font-noto);
}

